services: 
  verifylab-service:
    build: 
      context: .
      dockerfile: './Dockerfile'
    ports:
      - 9235:9235
    command: verifylab-service -env /api/env.example -address 9235
    environment:
      JAEGER_ENDPOINT: "jaeger:4318"
      VAULT_ADDRESS:   "http://vault:8300"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://127.0.0.1:4318"
    depends_on:
      - vault
      - prometheus
      - jaeger
  vault:
    image: hashicorp/vault
    ports:
      - "8300:8300"
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8300"
      VAULT_DEV_ROOT_TOKEN_ID:  "myroot"
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "14268:14268"
      - "4318:4318"
    environment:
      - COLLECTOR_ZIPKIN_HOST_PORT=:9411
      - COLLECTOR_OTLP_ENABLED=true
      - LOG_LEVEL=debug
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    # volumes:
    #   - ./docs/prometheus.yml:/etc/prometheus/prometheus.yml