PORT=9234

VAULT_TOKEN="myroot"
VAULT_PATH="/secrets"
VAULT_ADDRESS="http://0.0.0.0:8300"


JAEGER_SERVICE_NAME="verifylab-api"
JAEGER_ENDPOINT="http://localhost:14268/api/traces"

MG_DATABASE_HOST=localhost
MG_DATABASE_PORT=27017
MG_DATABASE_USERNAME=root
MG_DATABASE_PASSWORD=example
MG_DATABASE_NAME=verifylab
MG_DATABASE_SSLMODE=false


